doctype html
html
  include snippets/head
  body(data-page='conf')

    .drop-files-container
      .instructions déposez ici les slides à ajouter

    input(id="upload-input" type="file" name="uploads[]" multiple="multiple")

    a.btn.btn_retour(href="/")
      | ←

    .module--stackIntro
      .titre
        h1 #{confName}
      .meta
        span !{date}
        span !{lieu}
        span !{auteur}

      .introduction
        | !{introduction}

    .popover_upload
      h3 Envoi de fichiers en cours
      .progress-bar


    .slides-list


    .js--templates
      .slide.js--fixedslide.js--imageSlide
        .slide--item.slide--item_image.js--interactevents
          img.shadowed
      .slide.js--fixedslide.js--videoSlide
        .slide--item.slide--item_video.js--interactevents
          video(controls).shadowed
            source()
      .slide.js--fixedslide.js--iframeSlide
        .slide--item.slide--item_iframe.js--interactevents.shadowed
          .pageUrlField
            h6.pageUrl
            a.iframeNewTab.js--openIframeNewTab(target="_blank") ↗
          button.toggleIframe.js--startIframe activer&nbsp;/&nbsp;désactiver
          iframe



    include snippets/footer
    script( src='/js/pages/conf.js')
